body {
    font-family: 'Montserrat', sans-serif !important;
    height: 100vh;
    background: rgb(254, 254, 254);
    /*background: -moz-linear-gradient(120deg, rgba(255, 255, 255, 1) 40%, #fffa15 25%);
    background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 1) 40%, #fffa15 25%);
    background: linear-gradient(120deg, rgba(255, 255, 255, 1) 40%, #fffa15 25%);*/
}

.logo-text {
    font-family: 'Major Mono Display', monospace;
    color: #90ff6e !important;
}

.uk-comming-soon-background {
    background: #111111;
}

.subtitle-text {
    font-family: 'Montserrat', monospace;
}
