/**
green1: #bbf428
green2: #a6e074;
white: #f9f9fa;
 */
.logo {
    pointer-events: none;
    font-size: 24px;
    background: #bbf428;
    padding: 0 1.5em;
    left: 30px;
}

.logo > a {
    color: #111111;
    font-family: "Major Mono Display";
}

.hero-text {
    font-size: 48px;
}

@media screen and (max-width: 1680px) {

    .hero-text {
        font-size: 48px;
    }
}

@media screen and (max-width: 1280px) {

    .hero-text {
        font-size: 36px;
    }
}

@media screen and (max-width: 736px) {

    .hero-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 360px) {

    .hero-text {
        font-size: 12px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9fa;
    color: #595f71;
}

h1, h2, h3, h4, h5, h6, label {
    color: #333333;
}

.homepage.hero-banner {
    background: #f9f9fa;
}

.logo-text {
    font-family: 'Major Mono Display', monospace;
    /*color: #bbf428 !important;*/
}

.subtitle-text {
    color: #f9f9fa;
}

.banner.style5 .content {
    width: 100vw;
}

.spotlight .image {
    background-color: #f9f9fa;
}


#page-wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
    padding-top: 3em;
}

#page-wrapper:before {
    background: rgba(0, 0, 0, 0);
    content: '';
    display: block;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#menu {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    background: #bbf428;
    color: #ffffff;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10002;
    text-align: center;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul > li {
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

#menu ul > li:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#menu ul > li > a {
    border: 0;
    color: inherit;
    display: block;
    font-size: 28px;
    letter-spacing: 0.225em;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
}

#menu ul > li > a:hover {
    font-weight: bold;
    color: #222222;
}

@media screen and (max-width: 736px) {

    #menu ul > li > a {
        line-height: 3em;
    }

}

#menu .close {
    background-image: url("../../images/icons/close.png");
    background-position: 4.85em 1em;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    display: block;
    height: 10em;
    width: 8em;
    position: absolute;
    right: 40px;
    top: 30px;
    vertical-align: middle;
}

@media screen and (max-width: 736px) {

    #menu {
        padding: 3em 1.5em;
    }

}

body.is-menu-visible #page-wrapper {
    opacity: 0.35;
}

body.is-menu-visible #page-wrapper:before {
    display: block;
}

body.is-menu-visible #menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* Header */

#header {
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background: #2e3842;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    -moz-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    height: inherit;
    /*left: 1.25em;*/
    line-height: inherit;
    position: absolute;
    top: 0;
}

#header h1 a {
    border: 0;
    display: block;
    height: inherit;
    line-height: inherit;
}

@media screen and (max-width: 736px) {

    #header h1 a {
        font-size: 0.8em;
    }

}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#header nav > ul > li {
    display: inline-block;
    padding: 0;
}

#header nav > ul > li > a {
    border: 0;
    color: #f9f9fa;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    padding: 0 1.5em;
    text-transform: uppercase;
}

#header nav > ul > li > a.menuToggle {
    outline: 0;
    position: relative;
    right: 40px;
}

#header nav > ul > li > a.menuToggle:after {
    background-image: url("../../images/icons/bars.png");
    background-position: right center;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 3.75em;
    vertical-align: top;
    width: 3em;
}

@media screen and (max-width: 736px) {

    #header nav > ul > li > a.menuToggle {
        padding: 0;
        right: 20px;
    }

    #header nav > ul > li > a.menuToggle span {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #header nav > ul > li > a {
        padding: 0 0 0 1.5em;
    }

}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header.alt {
    background: transparent;
    top: 30px;
}
.about-us {
    height: 100vh;
}

.services > section:hover {
    background: #ffffff;
    box-shadow: 0 14px 25px rgba(0,0,0,0.16);
}

.inner {

}
